public_html/uploads/
public_html/scripts/__pycache__/
public_html/merge_files/__pycache__/
public_html/excel/__pycache__/
public_html/merge_files/migrations/__pycache__/
public_html/uploads/
/__pycache__/