~$ii.xlsx
ii.xlsx
Excel/w.xls
hh.xlsx
Excel/__pycache__/xl_work_class.cpython-312.pyc
Excel/~$w.xlsx
Excel/w.xlsx
Excel/done.xlsx
Excel/~$done.xlsx
Excel/__pycache__/exlWrapper.cpython-312.pyc
Excel/django/excel/excel/__pycache__/__init__.cpython-312.pyc
Excel/django/excel/excel/__pycache__/settings.cpython-312.pyc
