body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

}


* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

nav {
    position: fixed; /* или position: absolute; в зависимости от макета */
    top: 0px;
    left: 0px;
    width: 100%;
    display: flex;
    justify-content: space-between; /* или другой вариант для выравнивания */
    background: #cfcfcf74; /* цвет фона для навигации */
    z-index: 1000; /* чтобы навбар был поверх других элементов */
    font-family: Arial, Helvetica, sans-serif;
}


label.logo {
  color: rgb(0, 0, 0);
  font-size: 25px;
  line-height: 60px;
  padding: 0 100px;
  font-weight: bold;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 60px;
  margin: 0 5px;
}

nav ul li a {
  color: rgb(0, 0, 0);
  font-size: 17px;
  font-weight: bold;
  padding: 7px 13px;
  border-radius: 10px;
  text-transform: uppercase;
}

a.active,
a:hover {
  background: #c1c0c0;
  color: #000000;
  transition: .5s;
  border-radius: 10px;
}

.checkbtn {
  font-size: 22px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 30px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}



